<html>

<head>
    <title>Transactions</title>
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Transactions</h1>
    <table>
        <tr>
            <td>User</td>
            <td>Total</td>
            <td>Succeeded</td>
            <td>Failture</td>
            <td>Others</td>
        </tr>
        <tr>
            <td>{{transactions.user}}</td>
            <td>{{transactions.transactions.total}}</td>
            <td>{{transactions.transactions.succeed}}</td>
            <td>{{transactions.transactions.fail}}</td>
            <td>{{transactions.transactions.other}}</td>
        </tr>
    </table>

    <br/>
    <br/>
    {{ svg | safe }}
</body>

</html>