<html>

<head>
    <title>Number of Transactions per Date</title>
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Number of Transactions per Date</h1>
    <table>
        <tr>
            <td>Date</td>
            <td>Number of Transactions</td>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{transaction.date}}</td>
            <td>{{transaction.count}}</td>
        </tr>
        {% endfor %}
    </table>
    <img src="https://static.anychart.com/images/gallery/v8/pie-and-donut-charts-donut-chart.png" />
</body>

</html>