<html>

<head>
    <title>Number of Transactions per Date and Time</title>
    <style>
        body {
            background-color: #f7f7f7;
        }

        div.break {
            page-break-before: always;
        }

        td {
            border: 1px solid black;
        }

        table {
            width: 100%;
            text-align: center;
            border-spacing: 0
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Number of Transactions per Date</h1>
    <table>
        <tr>
            <td>Date</td>
            <td>Number of Transactions</td>
        </tr>
        {% for transaction in transaction_dates %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.count }}</td>
        </tr>
        {% endfor %}
    </table>

    {{ svg_date | safe }}

    <div class="break">
        <h1 style="text-align: center;">Number of Transactions per Time</h1>
        <table>
            <tr>
                <td>Time</td>
                <td>Number of Transactions</td>
            </tr>
            {% for transaction in transaction_times %}
            <tr>
                <td>{{ transaction.time }}</td>
                <td>{{ transaction.count }}</td>
            </tr>
            {% endfor %}
        </table>

        {{ svg_time | safe }}
    </div>
</body>

</html>